@media only screen and (min-width: 2000px) {

    .Header .Navigation{
        width: 1800px;
        margin: auto;
        padding: 0px 0px;
    }

    .Header .Home{
        padding: 0px 0%;
        width: 1800px;
        margin: auto;
        
    }


  }
  /* Hear XXL Size code closs */

@media screen  and (max-width:1500px){

    .Header .NavArea{
        height: 68px;
    }


    .Header .Navigation{
        padding: 0px 10%;
    }

    .Header .Pages{
        font-size: 14px;
        font-weight: 500;
    }

    .Header .Logo{
        width: 120px;
    }
    .Header .Home{
        padding: 0px 10%;
    }

    .Home .Text_Side h1{
        font-size: 40px; 
    }

    .Header .Home .Text_Side h3{
        font-size: 19px;
    }







}
/* Hear Closs Xl Size page  */

@media  screen and (max-width:1025px) {

    .Header .Navigation{
        display: flex;
        align-items: center;
        padding: 0px 7%;
    }

    .Header .Pages button{
        display: none;

    }

    .Home .Text_Side h1{
        font-size: 30px; 
    }

    .Header .Home .Text_Side .QfBox{
        width: 85%;
        height: 90px;
        margin-top: 30px;
    }

    .Header .Home .Text_Side .QfBox h3{
        margin-top: 0px;
        font-size: 25px;
    }



}
/* Clossing L size page */










  @media screen and (max-width:750px) {

    .Header .Navigation .Pages{
        display: none;
    }

    .Header  .MenuBar{
        display: block;
    }

    .Header .Navigation{
        padding: 0px 30px;
    }

    .Header .NavMbScreen{
        display: block;

    }


  }
  /* Clossing SM size hear */