:root {
    --WhiteClr :white;
    --MainFontColor: #111;
    --SubFontColor: #707070;
    --BackgroundColor:#f7f7f7;
    --testColor:red;
    --ButtonFColor:white;
    --ButtonBgColor:#333;
    --ColorFont: #00a1ff;
    --BacgroundTspCl:#dbf2ff;
  }